body {
    background-color: lightblue;
}
header {
    padding: 20px;
    text-decoration: underline;
    text-align: center; 
}

main {

    border-style: solid;
    border-radius: 25px;
    border-color: rgb(87, 79, 79)
}

main p {
    padding: 10px;
    margin: 10px;
    color: rgb(87, 79, 79);
}
footer {
    padding: 20px;
    text-align: center;
}